@font-face {
    font-family: "nunito-regular";
    src: url('../fonts/Nunito-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "nunito-light";
    src: url('../fonts/Nunito-Light.ttf') format("truetype");
}
@font-face {
    font-family: "nunito-medium";
    src: url('../fonts/Nunito-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "nunito-bold";
    src: url('../fonts/Nunito-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "nunito-semiBold";
    src: url('../fonts/Nunito-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: "nunito-extraLight";
    src: url('../fonts/Nunito-ExtraLight.ttf') format("truetype");
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: nunito-regular; 
    color:$secondary-color;
    
}
li::marker{
content:'';
}
a{
    color: inherit;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
}
.container_section{
    padding: 0 clamp(2em, 5vw - 1em, 5em);
}
.section-lg{
    min-height: 100vh;
}
.--font-bold{
    font-family: $font-bold;
}
.--font-teen{
    font-family: $font-xlight;
}
.container__title_section h3{
    font-size: clamp(28px, 2vw + 0.4em, 3em);
}
.container_section{
    margin: 3rem 0;
}